* {
    margin: 0%;
    padding: 0%;
    display: block;
}
/* gives style to our header */
header {
    padding: 15px;
    display: flex;
    display: block;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    background-color: rgb(80, 127, 188);
}
/* adds styles to all of our content */
.body-container {
    padding: 30px;
    margin: 30px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}